.verified-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: var(--text-color);
  min-height: 100%;
  background-color: var(--background-color);

  .verified-container {
    text-align: center;
    width: 100%;
    max-width: 500px;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon-container {
        margin-bottom: 20px;
        .icon {
          width: 80px;
          height: 80px;
          filter: invert(58%) sepia(98%) saturate(394%) hue-rotate(85deg) brightness(93%) contrast(88%);
        }
      }

      .message {
        font-size: 20px;
        margin-bottom: 30px;
        color: black;
      }
    }
  }
}
