@import "../../styles/variables";

.personal-info {
  width: 100%;
}

.profile-page {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    margin-bottom: 24px;
  }

  .profile-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 32px;

    .control-input {
      width: 100%;
    }

    button {
      max-width: 304px;
    }
  }
}
.dark {
  .settings-wrapper {
    background: $dark-bg;

    .page {
      background: $dark-bg;

      .settings-tabs {
        border-bottom: 2px solid rgba(32, 37, 54, 1);

        h2 {
          color: rgba(180, 184, 190, 1);
        }

        .active {
          h2 {
            color: white;
          }
        }
      }
        .personal-info{
          input{
            background: linear-gradient(90deg, #0F101D 0%, #1B2133 100.03%);


          }
          .control-input{
            background: linear-gradient(90deg, #0F101D 0%, #1B2133 100.03%);
            border: 1px solid rgba(32, 37, 54, 1);
            color:rgba(157, 157, 161, 1);

          }
          .control-input-phone{
            background: linear-gradient(90deg, #0F101D 0%, #1B2133 100.03%);
            border-left: 1px solid rgba(32, 37, 54, 1);
            border: 0.1px solid rgba(32, 37, 54, 1) ;

            color:rgba(157, 157, 161, 1);
          }
          #phone-border{
            border-left: 1px solid rgba(32, 37, 54, 1);
          }
        }
        .change-password{
          .control-input{
            background: linear-gradient(90deg, #0F101D 0%, #1B2133 100.03%);
            border: 1px solid rgba(32, 37, 54, 1) ;
            color: rgba(157, 157, 161, 1);
          }
          input{
            background: linear-gradient(90deg, #0F101D 0%, #1B2133 100.03%);

          }
        }
      }
    }
}

