@import "../../../../styles/variables";
.header__nav {
  display: flex;
  align-items: center;
}

.header__nav > ul{
  display: flex;
  gap: 32px;
  align-items: center;

}
.active-link {
  color: $royal-blue !important;
  position: relative;
  font-weight: 600;

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, $bright-blue 0%, $royal-blue 100%);
    border-radius: 2px;
  }
}

.dark .active-link {
  color: $white !important;

  &::after {
    background: linear-gradient(90deg, $bright-blue 0%, #8B8BF5 100%);
  }
}
@media (max-width: 880px) {
  .header__nav {
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__nav > ul{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
}
