.change-password {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 32px;

  .control-input {
    width: 100%;
  }

  .control-input-phone {
    width: 100%;
  }

  button {
    max-width: 304px;
  }
}

@media (max-width: 880px) {
  .change-password {
    display: flex;
    flex-direction: column;

    .control-input {
      width: 100%;
    }

    .control-input-phone {
      width: 100%;
    }

    button {
      max-width: 100%;
    }
  }
}
