@import "../../styles/variables";
@import "../../styles/mixin";

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  thead {
    @include fluid-font(14px, 18px, 18px, 18px);
    color: $slate-gray;
    font-weight: 400;
    text-align: left;

    th {
      padding: 0 16px 16px 16px;
      
      &:first-child {
        padding-left: 20px;
      }
      
      &:last-child {
        padding-right: 20px;
      }
    }
  }

  tbody {
    @include fluid-font(14px, 18px, 18px, 18px);
    
    tr {
      transition: background 0.2s ease;
      
      &:hover {
        background: rgba(26, 86, 219, 0.08);
        
        td:first-child {
          border-radius: 8px 0 0 8px;
        }
        
        td:last-child {
          border-radius: 0 8px 8px 0;
        }
      }
    }
    
    td {
      padding: 0 16px;
      height: 72px;
      vertical-align: middle;
      border-bottom: 1px solid #DADBEB;
      
      &:first-child {
        padding-left: 20px;
      }
      
      &:last-child {
        padding-right: 20px;
      }

      & > * {
        display: flex;
        align-items: center;
      }

      // Status badges should not stretch
      .status {
        height: auto;
        display: inline-flex;
      }
    }
  }
}
